
[Desktop Entry]
Encoding=UTF-8
Name=Link to MIT Scratch Project
Type=Link
URL=http://scratch.mit.edu/
Icon=gnome-fs-bookmark
Name[en_US]=Link to MIT Scratch Project
