
[Desktop Entry]
Encoding=UTF-8
Name=Link to Project Euler
Type=Link
URL=http://projecteuler.net/
Icon=gnome-fs-bookmark
Name[en_US]=Link to Project Euler
