
[Desktop Entry]
Encoding=UTF-8
Name=Link to Electrical Engineering and Computer Science | EECS at University of Toledo
Type=Link
URL=http://www.eng.utoledo.edu/eecs/
Icon=gnome-fs-bookmark
Name[en_US]=Link to Electrical Engineering and Computer Science
